{% load static %}

<html>

    <head>
        <title>About Me</title>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
    </head>


    <body>

        <img src="https://avatars2.githubusercontent.com/u/29245767?s=460&u=6626823d2954586666cd8cd29d545d9558625f30&v=4" alt="Me">
        
        <div class="about">
            <p>Hi there, my name is Ali Cagatay! I am a computer science student at the University of Birmingham. I currently have interests on the topics Artificial Intelligence and Software Engineering.</p>

            <p>I am studying in the field of computer science for almost 5 years. When I newly started high school in Turkey, I had a course on my curriculum called Informations Technology. There, I was learning about the fundamentals of computers and how I can use computers in my life to become more successful. In one of the lectures of that course, the teacher introduced the class about a website called <a href="https://code.org/">Code.org</a> and
wanted us to spend some time on that website. And in overall, it was an amazing experience for me. I could draw shapes on the screen just by writing it to the computer, or I can move a person just by writing it. At the end of the lesson I asked my teacher how could I learn more about this, and he said I can work with him after the end of schools. So, thats how my passion for computer science have started.</p>

            <p>Since then, up until today, both in high school and university, I learned about different branches of computer science such as Artificial Intelligence and Data Structures & Algorithms. In addition to this, I have worked in many different projects and developed different applications like the website you are now reading. Finally, I have joined dozens of programming competitions such as <a href="https://hackthemidlands.com/">Hack The Midlands</a> and <a
                href="https://www.firstinspires.org/robotics/frc">one of the legs of FRC that held in Turkey.</a></p>

            <p>My overall aim in the field of computer science is to provide the best solutions for the problems of people with the least amount of energy use.(maybe thats why I have more interest to Artificial Intelligence than other fields .) )</p>
        </div>

    </body>


</html>


