{% load static %}

<html>

    <head>
        <title>About Me</title>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
    </head>


    <body>

        <img src="https://avatars2.githubusercontent.com/u/29245767?s=460&u=6626823d2954586666cd8cd29d545d9558625f30&v=4" alt="Me">
        
        <div class="about">
            <p>
                Hi, my name is Ali Cagatay. I am a developer, blog writer and music producer 
                who is studying Computer Science at the University Of Birmingham.
            </p>

            <p>
                You can see my latest blog posts <a href="/blog">here.</a>
            </p>

            <p>
                You can view my <a href="/skills">skills</a> and <a href="/projects">projects</a> with the corresponding links.
            </p>

            <p>
                In order to contact me, <a href="/contact">enter the following page.</a>
            </p>
            
        </div>

    </body>


</html>


