{% load static %}

<html>

    <head>
        <title>Contact</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    </head>


    <body>
        
        <div class="contact">
            
            <p>Email 1: aliccagatay@gmail.com</p>

            <p>Email 2: AXC1123@student.bham.ac.uk</p>

            <p>Phone Number(UK): 00447940582065</p>

            <p>Phone Number(TR): 00905317883295</p>

            <p>Github: <a href="https://github.com/alicagatay">https://github.com/alicagatay</a></p>

        </div>

    </body>


    <div class="return">
        <p>
        <a href="/">Press to return home.</a>
        </p>
    </div>


</html>


