{% load static %}

<html>

	<head>
        <title>Ali Cagatay</title>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>


    <body>
    	
        <div class="aboutMe">
        	<h2><a href="/">About</a></h2>
        </div>


        <div class="latestBlogPosts">
        	<h2><a href="/blog">Blog</a></h2>
        </div>

        <div class="mySkills">
        	<h2><a href="/">Skills</a></h2>
        </div>

        <div class ="myProjects">
        	<h2><a href="/">Projects</a></h2>
        </div>

        <div class="Contact">
        	<h2><a href="/">Contact</a></h2>
        </div>

    </body>


</html>


