{% load static %}

<html>

    <head>
        <title>My Projects</title>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    </head>


    <body>
        <h1>My Projects</h1>
        <ol>
            <li>My Personal Website</li>
            <p>
                The website you are now on is fully programmed and powered by myself.
                The reason that I created this website is because, it was a required coursework
                for me that is given by the university I am studying in order to pass into my
                second year. While developing this website, I mainly used Python with the Django
                framework + HTML + CSS. And after I programmed the website, I used Pythonanywhere
                to host my webpage. If you want to learn more, you can head to 
                the projects Github page. 

                <p><a href="https://github.com/alicagatay/My-Personal-Website">Github repository of my personal website</a></p>
            </p>


            <li>Predict The Number</li>
            <p>
                Predict The Number was my first official game that I developed by using
                Java programming language and Android Studio IDE. The aim of the game was to predict the
                number that the game itself chosed randomly. When you predicted a number, the game will tell
                if the number you predicted is bigger or lower than the actual number, so by doing that you
                were trying to find the actual number.

            </p>

            <p><a href="https://play.google.com/store/apps/details?id=com.alicagatay.predictthenumber&gl=TR">Google Play Store link for the application.</a></p>

            <p><a href="https://github.com/alicagatay/Predict-The-Number">Github repository of the application.</a></p>



            <li>Space Invaders</li>
            <p>
                Space Invaders was a small remake project that I did while practising my programming skills
                when I was newly learning about Processing and programming itself. So it is kind of a starting
                project for me to programming.
            </p>

            <p><a href="https://github.com/alicagatay/Space-Invaders">Github repository for the project</a></p>
            


        </ol>

        <p>
            In this list, I just showed my top projects that I had developed over time.
            To view the full list of my projects, view 
            my <a href="https://github.com/alicagatay">Github page.</a>
        </p>

    </body>


</html>
