{% load static %}

<html>

    <head>
        <title>My Skills</title>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/skills.css' %}">
    </head>


    <body>
            <h1>Programming Languages That I Know</h1>

            <ol>
                <li>Java</li>
                <li>Python</li>
                <li>Processing</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Dart</li>
            </ol>

            <h1>IDEs I Use/Used For Programming</h1>
            
            <ol>
                <li>Eclipse</li>
                <p>Eclipse is the main IDE that I use while working on Java programming language. It has
                    so many great features like the debugger and build in console and it is great for
                    developing applications in Java.
                </p>


                <li>Visual Studio Code</li>
                <p>Visual Studio Code(also known as VS Code) is my go to IDE nowadays. The thing
                    I love about VS Code is it's simplicity and it's hidden power. You can both use
                    VS Code as a minimal text editor or as a fully powerfull IDE, with the help of its
                    plugins.
                </p>


                <li>Vim</li>
                <p>The thing I love about Vim is that it comes pre-installed on most of the Unix
                    based systems. It is very minimalistic both in terms of design and usage. However
                    Vim also proves the sentence "Do more with less." While it is a very minimalistic
                    text editor, with the help of it's plugins, it can become a powerful and feature packed
                    IDE.
                </p>


                <li>IDLE</li>
                <p>IDLE is the nain text editor developed for Python itself. While it is so powerful
                    for Python language, I personally doesn't like it a lot because of it's colorscheme.
                </p>


                <li>Sublime Text 2 and 3</li>
                <p>Sublime Text 2 & 3 is the text editor I prefer using for Python development
                    instead of IDLE, because while it is as powerful as IDLE, it also have a
                    great color scheme.
                </p>


                <li>Android Studio</li>
                <p>Android Studio is a powerful IDE which is used to develop Android applications.
                    While I like the power of the IDE, I personally looking forward to working on
                    Flutter itself, as it both covers Android OS and IOS.
                </p>


                <li>Sonic Pi</li>
                <p>Sonic Pi is a software where you can create live music on your computer just by programmming.
                    It is based on Ruby language, but it is easy to learn, by practising.
                </p>


            </ol>


            <h1>Frameworks I Use/Used</h1>

            <ol>
                <li>Django</li>
                <p>Django is a Python framework where it helps you to develop a web application(Like
                    the one you are on it) by managing most of the backend code.

                
                <li>Flutter</li>
                <p>Flutter is a framework created by Google to enable multi-platform mobile
                    application development, which also I use for that purpose.
                </p>


                </p>
            </ol>


            <h1>Softwares I Use/Used<h1>

            <ol>
                <li>Github</li>
                <p>Github is a software where you can upload and showcase your code to public. It is mostly useful for
                     Open Source projects and programmming portfolio showcase.</p>


                <li>Git</li>
                <p>Git is a version control system used by teams of 2 and more in order to work on one piece of code more
                    efficiently. It creates a connection between your local computer and the project hosted on Github.
                </p>


            </ol>
    </body>


</html>
