{% load static %}

<html>

    <head>
        <title>My Skills</title>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/skills.css' %}">
    </head>


    <body>
            <h1>Programming Languages That I Know</h1>

            <ol>
                <li>Java</li>
                <li>Python</li>
                <li>Processing</li>
                <li>HTML</li>
                <li>CSS</li>
            </ol>

            <h1>IDEs I Use/Used For Programming</h1>
            
            <ol>
                <li>Eclipse</li>
                <li>Visual Studio Code</li>
                <li>Vim</li>
                <li>IDLE</li>
                <li>Sublime Text 2 and 3</li>
                <li>Android Studio</li>
                <li>Sonic Pi</li>
            </ol>


            <h1>Frameworks I Use/Used</h1>

            <ol>
                <li>Django</li>
            </ol>


            <h1>Softwares I Use/Used<h1>

            <ol>
                <li>Github</li>
                <li>Git</li>
            </ol>
    </body>


</html>
