.about p,
.about p,
.about p a,
.about p a:visited,
.about p a:active {
  color: #eff3f1;
  font-size: 20pt;
  text-decoration: none;
  text-align: center;
}

.about p a:hover {
  color: #2b8aff;
  font-size: 20pt;
  text-decoration: none;
  text-align: center;
}

.return p,
.return p a,
.return p a:visited,
.return p a:active {
  color: #eff3f1;
  font-size: 15pt;
  text-decoration: underline;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  background-color: #000000;
  font-family: "Roboto Mono", monospace;
}

.skills p,
.skills p a,
.skills p a:visited,
.skills p a:active {
  color: #eff3f1;
  font-size: 15pt;
  text-decoration: none;
}

.skills h1,
.skills h1 a,
.skills h1 a:visited,
.skills h1 a:active {
  color: #eff3f1;
  font-size: 50pt;
  text-decoration: none;
}

.skills h2,
.skills h2 a,
.skills h2 a:visited,
.skills h2 a:active {
  color: #eff3f1;
  font-size: 30pt;
  text-decoration: none;
}

.skills ol,
.skills ol a,
.skills ol a:visited,
.skills ol a:active {
  color: #eff3f1;
  font-size: 20pt;
  text-decoration: none;
  padding: 0px 20px 0px 80px;
}

.skills li {
  margin: 20px 0;
}

.projects p {
  text-decoration: none;
  color: #eff3f1;
  font-size: 15pt;
}

.projects p a,
.projects p a:visited,
.projects p a:active,
.projects p a:link {
  text-decoration: none;
  color: #2b8aff;
  font-size: 15pt;
}

.projects h1,
.projects h1 a,
.projects h1 a:visited,
.projects h1 a:active {
  color: #eff3f1;
  font-size: 50pt;
  text-decoration: none;
}

.projects ol,
.projects ol a {
  color: #eff3f1;
  font-size: 30pt;
  text-decoration: none;
  padding: 0px 20px 0px 80px;
}

.projects li {
  margin: 50px 0;
}

.top p,
.top p a,
.top p a:visited,
.top p a:active {
  color: #eff3f1;
  font-size: 60pt;
  text-decoration: none;
  text-align: center;
}

.training p {
  color: #eff3f1;
  font-size: 15pt;
  text-decoration: none;
}

.training p a,
.training p a:visited,
.training p a:active,
.training p a:link {
  text-decoration: none;
  color: #2b8aff;
  font-size: 15pt;
}

.training h1,
.training h1 a,
.training h1 a:visited,
.training h1 a:active {
  color: #eff3f1;
  font-size: 50pt;
  text-decoration: none;
}

.training h2,
.training h2 a,
.training h2 a:visited,
.training h2 a:active {
  color: #eff3f1;
  font-size: 30pt;
  text-decoration: none;
}

.training ol {
  color: #eff3f1;
  font-size: 20pt;
  text-decoration: none;
  padding: 0px 20px 0px 80px;
}

.training ol a,
.training ol a:visited,
.training ol a:active {
  color: #2b8aff;
  font-size: 20pt;
  text-decoration: none;
  padding: 0px 20px 0px 80px;
}

.training li {
  margin: 20px 0;
}

.workExperience p {
  color: #eff3f1;
  font-size: 15pt;
  text-decoration: none;
}

.workExperience p a,
.workExperience p a:visited,
.workExperience p a:active,
.workExperience p a:link {
  text-decoration: none;
  color: #2b8aff;
  font-size: 15pt;
}

.workExperience h1,
.workExperience h1 a,
.workExperienceh1 a:visited,
.workExperience h1 a:active {
  color: #eff3f1;
  font-size: 50pt;
  text-decoration: none;
}

.workExperience h2,
.workExperience h2 a,
.workExperience h2 a:visited,
.workExperience h2 a:active {
  color: #eff3f1;
  font-size: 30pt;
  text-decoration: none;
}

.workExperience ol {
  color: #eff3f1;
  font-size: 20pt;
  text-decoration: none;
  padding: 0px 20px 0px 80px;
}

.workExperience ol a,
.workExperience ol a:visited,
.workExperience ol a:active {
  color: #2b8aff;
  font-size: 20pt;
  text-decoration: none;
  padding: 0px 20px 0px 80px;
}

.workExperience li {
  margin: 20px 0;
}
