.about p{
    color: #EFF3F1;
    font-size: 20pt;
    text-decoration: none;

}

.about p a, .about p a:visited, .about p a:active{
  color: #2b8aff;
  font-size: 20pt;
  text-decoration: none;
}

.return p, .return p a, .return p a:visited, .return p a:active{
  color: #EFF3F1;
  font-size: 15pt;
  text-decoration: underline;
  text-align: center;
}

body {
  font-family: "Open Sans";
  text-align: center;
  background-color: rgba(0,0,0,0.6);
}

html { 
  background: url("https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
