.page-header h1, .page-header, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #EFF3F1;
    font-size: 36pt;
    text-decoration: none;
}

.post h1, .post, .post h1 a, .post h1 a:visited, .post h1 a:active {
    color: #EFF3F1;
    font-size: 36pt;
    text-decoration: none;
}

.post h2 a:hover {
    color: #EFF3F1;
    font-size: 55;
    text-decoration: underline;
}

.content {
    color: #EFF3F1;
    width: fit-content;
}

.date {
    color: #EFF3F1;
    font-size: 25;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #EFF3F1;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 120px;
}

.post p {
    color: #EFF3F1;
    font-size: 25;
}

.post h2 a, .post h2 a:visited, .post h2 {
    color: #EFF3F1;
    text-decoration: none;
    font-size: 55;
}

.return p, .return p a, .return p a:visited, .return p a:active{
    color: #EFF3F1;
    font-size: 15pt;
    text-decoration: underline;
    text-align: center;
  }

  .top p, .top p a, .top p a:visited, .top p a:active{
    color: #EFF3F1;
    font-size: 60pt;
    text-decoration: none;
    text-align: center;
  }

body {
    background-color: #232323;
    font-family: 'Roboto Mono', monospace;
}
