.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #EFF3F1;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    color: #EFF3F1;
    background-color: rgba(0,0,0,0.5);
}

h1, h2, h3, h4 {

    font-family: "Open Sans";
}

p {
  font-family: "Open Sans";
  font-size: 16pt;
}

.date {
    color: #EFF3F1;
    font-family: "Open Sans";
    font-size: 25;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #EFF3F1;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 120px;
}

.post p {
    color: #EFF3F1;
    font-size: 30;
}

.post h2 a, .post h2 a:visited, .post h2 {
    color: #EFF3F1;
    font-size: 55;
}

body {
  backdrop-filter: blur(3px);
  background: url("https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80") no-repeat center center fixed; 
  background-color: rgba(0,0,0,0.5);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

