.return p, .return p a, .return p a:visited, .return p a:active{
  color: #EFF3F1;
  font-size: 30pt;
  text-decoration: underline;
  text-align: center;
}

.contact p, .contact p a, .contact p a:visited, .contact p a:active{
    color: #EFF3F1;
    font-size: 30pt;
    text-decoration: none;
}

.contact p a:hover{
  text-decoration: none;
  color: #0373fc;
  font-size: 30pt;
}

body {
  backdrop-filter: blur(3px);
  padding: 180px 20px 0px 40px;
  text-align: center;
}

html { 
  background-color: #232323;
  font-family: 'Roboto Mono', monospace;
}
