html { 
  background: url("https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  font-family: "Open Sans";
  text-align: center;
  backdrop-filter: blur(3px);
  background-color: rgba(0,0,0,0.3);
}

.myName h1, .myName h1 a, .myName h1 a:visited, .myName h1 a:active{
    color: #EFF3F1;
    font-size: 90pt;
    text-decoration: none;
    padding: 0px 20px 0px 40px;
}


.myName p{
    color: #EFF3F1;
    font-size: 20pt;
    font-style: italic;
    padding: 0px 20px 0px 40px;
}


.aboutMe h2, .aboutMe h2 a, .aboutMe h2 a:visited, .aboutMe h2 a:active{
    color: #EFF3F1;
    font-size: 30pt;
    text-decoration: none;
    padding: 20px 20px 0px 40px;


}

.latestBlogPosts h2, .latestBlogPosts h2 a, .latestBlogPosts h2 a:visited, .latestBlogPosts h2 a:active{
    color: #EFF3F1;
    font-size: 30pt;
    text-decoration: none;
    padding: 20px 20px 0px 40px;
}

.mySkills h2, .mySkills h2 a, .mySkills h2 a:visited, .mySkills h2 a:active{
    color: #EFF3F1;
    font-size: 30pt;
    text-decoration: none;
    padding: 20px 20px 0px 40px;
}

.myProjects h2, .myProjects h2 a, .myProjects h2 a:visited, .myProjects h2 a:active{
    color: #EFF3F1;
    font-size: 30pt;
    text-decoration: none;
    padding: 20px 20px 0px 40px;
}

.Contact h2, .Contact h2 a, .Contact h2 a:visited, .Contact h2 a:active{
    color: #EFF3F1;
    font-size: 30pt;
    text-decoration: none;
    padding: 20px 20px 0px 40px;
    
}
